<style>
    @import 'engine/core/templates/style.css';
    #end-turn {
        width: 75px;
        height: 75px;
    }
    div {
        background-image: url('sc/terrains/stone.jpg');
    }
    div div {
        padding: 20px;
    }
    #faction-details {
        display: block;
        height: 120px;
        border: 20px solid transparent;
        border-image: url('sc/widgets/hor-parchment.png') 200 round;
        overflow: hidden;
    }
    #faction-details span {
        background: rgb(229,206,165);
    }
    #symbol {
        margin: 5px;
    }
    #faction-name {
        display: block;
        padding: 5px;
        padding-bottom: 15px;
        text-align: center;
        width: 100%;
    }
</style>
<div class="fl25">
    <span id="faction-details" class="shadow">
        <span class="fl50" style="height: 70%;">
            <span class="portrait">
                <img src="sc/portraits/king.jpg" class="img"/>
            </span>
        </span>
        <span class="fl50" style="height: 70%;">
            <img id="symbol" src="cici" width="35" height="40" class="r"/>
        </span>
        <span class="fl100">
            <span id="faction-name">Faction Name</span>
        </span>
    </span>
</div>
<div class="fl50">
    <span>Ciao</span>
</div>
<div class="fl25">
    <button id="end-turn" class="r shadow circle">
        <img src="sc/widgets/hourglass.png" class="img"/>
    </button>
</div>