<style>
    @import 'engine/core/templates/style.css';

    .panel-info {
        width: 0;
        transition: width 0.4s;
        background: rgb(228,203,163);
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
        border: 25px solid transparent;
        border-image: url('sc/widgets/parchment.jpg') 400 round;
    }

    .panel-info .body div {
        padding: 10px;

    }

    .panel-info .content figure {
        margin: 0;
        padding: 0;
    }

    .panel-info .content figure img {
        width: 100%;
    }

    .panel-info .footer {
        padding: 10px 0;
    }

    .panel-info .footer button {
        display: block;
        width: 55px;
        height: 55px;
    }

    .helm {
        background: url('sc/widgets/helm.png') no-repeat;
        background-size: contain, cover;
    }

    .castle {
        background: url('sc/widgets/castle.png') no-repeat;
        background-size: contain, cover;
    }

    .close-btn {
        width: 25px;
        height: 25px;
        background-color:crimson;
        color: gold;
        cursor: pointer;
        font-size: 19px;
        font-weight: bolder;
    }

    .pic {
        height: 35px;
        width: 35px;
        background: gray;
        position: relative;
        cursor: help;
    }

</style>
<div class="panel-info shadow">
    <div class="body">
        <div class="header">
            <span class="close-btn circle shadow r" onclick="document.querySelector('panel-info').style.display = 'none'">&times;</span>
        </div>
        <div class="content">
            <span id="name" class="text title"></span>
            <figure>
                <img id="terrain" src="sc/terrains/stone.jpg"/>
            </figure>
            <div class="bar">
                <span title="population" class="pic circle">
                    <img src="sc/pics/servants.jpg" class="img circle"/>
                    <span id="population" class="cracker">0</span>
                </span>
                <span title="defence structures" class="pic circle">
                    <img src="sc/pics/towers.png" class="img circle"/>
                    <span id="defence" class="cracker">0</span>
                </span>
                <span title="garrisoned army" class="pic circle">
                    <img src="sc/pics/weapons.png" class="img circle"/>
                    <span id="garrison" class="cracker">0</span>
                </span>
                <span title="income" class="pic circle">
                    <img src="sc/pics/coins.png" class="img circle"/>
                    <span id="income" class="cracker">0</span>
                </span>
            </div>
        </div>
        <div class="footer bar">
            <button title="Raise Troops" class="engine-action helm shadow circle" data-action="" data-value=""></button>
            <button title="Incrase Defence" class="engine-action castle shadow circle" data-action="" data-value=""></button>
        </div>
    </div>
</div>